@model TrabalhoPW.Models.Texts

@{
    ViewBag.Title = "Contactos";
}
<h2>@Model.SubT</h2>
<h3></h3>

<p>@Model.Conteudo</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>