@model TrabalhoPW.Models.Texts

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Museu XPTO de Cenas</h1>
    <p class="lead">Veja o nosso espolio!</p>
    <p><a href="~/Objetoes/Index" class="btn btn-primary btn-lg">Ver Mais</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Model.SubT</h2>
        <p>
            @Model.Conteudo
        </p>


    </div>
